<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <h1>Welcome to Flask</h1>
    <h3>This is a homepage rendered by flask.</h3>
    <a href="/hello">test</a>
    <input class="styled" type="button" value="Add to favorites" />
</body>
<script>
    const button = document.querySelector("input");
    const paragraph = document.querySelector("p");

    button.addEventListener("click", updateButton);

    function updateButton() {

    }
</script>

</html>